* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

.wrapper {

    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto;
    min-height: 500px;
}

input,
select {
    border: none;
    border-bottom: 1px solid black;
}



aside {

    width: 27%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

aside h1 {
    font-size: 3.9em;
    padding: 16%;

}

aside form {
    padding-left: 2%;
}

aside form input,
aside form select {
    margin: 11% 0;
    display: block;
}

aside form input:last-child {
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

main {
    width: 72%;
    border: 1px solid black;
}

main header {
    border-bottom: 1px solid black;
    padding: 8.3% 4.3%
}

main header form {
    padding-left: 1%;
}

main header form select {
    margin-right: 7%;

}

main section div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

main section div p {
    width: 70%;
    padding: 1em;
    font-size: 2em;
    margin-left: 2%;
}

main section div button {
    display: inline-block;
    width: 25%;
    cursor: pointer;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}